# Backend Settings
SECRET_KEY=your-secret-key-here
DEBUG=False
GROQ_API_KEY=your-groq-api-key-here

# Database Settings (Optional if using Docker)
# DATABASE_URL=postgres://user:password@host:port/dbname

# Docker specific
POSTGRES_DB=ai_notes
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
